html,body{
	overflow: hidden;
}
#sidebar{
	width: 250px;
	position: fixed;
}

#sidebar>.panel{
	border-radius: 0;
	margin:0;
}
#sidebar>.panel>.panel-body{
	overflow: auto;
	padding: 0;
}
#sidebar>.panel>.panel-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#sidebar>.panel>.panel-body::-webkit-scrollbar-track {
    border: 1px #d3d3d3 solid;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
    background: #eee;
}
#sidebar>.panel>.panel-body::-webkit-scrollbar-thumb {
    border: 1px #808080 solid;
    border-radius: 10px;
    background: #999;
}
#sidebar>.panel>.panel-body::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}
#sidebar>.panel>.panel-heading {
   border-radius: 0;
}
#content{
	overflow: hidden;
	margin-left: 250px;
	width: 100%;
}

#sidebar .panel-footer{
	position: fixed;
	bottom: 0;
	border-top: 0;
	border:1px solid #337ab7;
	border-top:0;
	width:250px;
	padding: 3px 3px;
	left:0;
	 background-color: #337ab7;
	 color: #fff;
	 border-radius: 0;
}
#sidebar .toggle,#sidebar #toggle-sidebar{
	cursor: pointer;
}

.btn-group .dropup{
	float: left;
}
.btn-group .dropup button{
	border-radius: 0;
	width: 40px;
}

/*.navbar-fixed-top+#sidebar{
	margin-top: 50px;
}*/

#footer{
	/*position: fixed;
	bottom: 0;*/
	width: 100%;
	border: 1px solid #ccc;
	padding: 5px 15px;
	background-color: #ccc;
}
#footer>div{
	text-align: center;
	color: #666;
}

.navbar-fixed-top+#main{
	margin-top: 51px;
}
#content #tabbable{
	/*position: fixed;*/
	width:100%;
}
#content #tabbable .tab-content{
	overflow: auto;
/*	border-top:1px solid #337ab7;*/
	
}

#content #tabbable .tab-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#content #tabbable .tab-content::-webkit-scrollbar-track {
    border: 1px #d3d3d3 solid;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
    background: #eee;
}
#content #tabbable .tab-content::-webkit-scrollbar-thumb {
    border: 1px #808080 solid;
    border-radius: 10px;
    background: #999;
}
#content #tabbable .tab-content::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

@media(max-width: 768px){
	#content #tabbable .nav-tabs{
		display: none;
	}
	#sidebar #toggle-sidebar{
		display: none;
	}

}

/**遮罩*/


/*导航样式*/
/*start navbar*/
.navbar-primary {
  background-color: #337ab7;
  border-color: #286090;
}
.navbar-primary .navbar-brand {
  color: #ecf0f1;
}
.navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-brand:focus {
  color: #ffffff;
}
.navbar-primary .navbar-text {
  color: #ecf0f1;
}
.navbar-primary .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #2e6da4;
}
.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #286090;
}
.navbar-primary .navbar-nav > .open > a,
.navbar-primary .navbar-nav > .open > a:hover,
.navbar-primary .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #286090;
}
.navbar-primary .navbar-toggle {
  border-color: #286090;
}
.navbar-primary .navbar-toggle:hover,
.navbar-primary .navbar-toggle:focus {
  background-color: #286090;
}
.navbar-primary .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-primary .navbar-collapse,
.navbar-primary .navbar-form {
  border-color: #ecf0f1;
}
.navbar-primary .navbar-link {
  color: #ecf0f1;
}
.navbar-primary .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
.navbar-primary .navbar-collapse, .navbar-primary .navbar-form {
    border-color: #2e6da4;
}
   .navbar-primary .navbar-nav .open .dropdown-menu .divider {
    background-color: #2e6da4;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-primary .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #286090;
  }
}

/*end navbar*/