  html,body{
    background-color: #337ab7;
    overflow: hidden;
  }
  #main{
    margin-top: 50px;
    /*border:1px solid blue;*/
  }
   #sidebar {
       width: 250px;
       position: fixed;
       border: 1px solid red;
   }
   
   #sidebar .panel {
       border-radius: 0;
       /*height: 100%;*/

   }
   #sidebar .panel-body{
    overflow: auto;
    width:250px;
    padding-top: 0px;
   }
      #sidebar .panel-footer {
        position: fixed;
        bottom: 0px;
        width: 250px;
        /*border:1px solid  #337ab7;*/
        background-color: #337ab7;
        color: #fff;
        border-radius: 0;
        padding: 5px 2px;

      }


  
#sidebar>.panel>.panel-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#sidebar>.panel>.panel-body::-webkit-scrollbar-track {
    border: 1px #d3d3d3 solid;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 0px;
    background: #eee;
}
#sidebar>.panel>.panel-body::-webkit-scrollbar-thumb {
    border: 1px #808080 solid;
    border-radius: 10px;
    background: #337ab7;
}
#sidebar>.panel>.panel-body::-webkit-scrollbar-thumb:hover {
    background: #337ab7;
}
#sidebar>.panel>.panel-heading {
   border-radius: 0;
}
   #content {
       margin-left: 250px;
       overflow: hidden;
       /*width:auto;*/
       border:1px solid green;
   }
   #content .nav-tabs li a{
    color: #fff;
    border-color: #2e6da4; 
   }
    #content .nav-tabs li a:hover{
    color: #fff;
    background-color: #286090;
     border-color: #2e6da4;

   }
   #content .nav-tabs li.active a{
    color: #fff;
    background-color: #286090;
     border-color: #2e6da4;
     border-bottom: 2px solid red;

   }
   #content .nav-tabs a, #content .nav-tabs li+li{
    margin:0;
   }
.btn-group .dropup{
  float: left;
}
.btn-group .dropup button{
  border-radius: 0;
  width: 40px;
} 
 @media(max-width: 768px){
  #content .nav-tabs{
    display: none;
  }
  .toggle-sidebar{
    display: block;
  }
  #sidebar{
    display: none;
  }
 }
 @media(min-width: 768px){
  #content .nav-tabs{
    display: block;
  }
  .toggle-sidebar{
    display: none;
  }
  #sidebar{
    display: block;
  }
 }

 .toggle-sidebar{
  position: fixed;
  top:50%;
  background-color: #337ab7;
  color: #fff;
  padding:3px 5px;
 }